
# FVM Version Cache
.fvm/

.ai/

.DS_Store

.idea/

.vscode/

.env

.env.local

# Flutter/Dart関連
.dart_tool/
.packages
pubspec.lock
build/

# iOS関連
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
ios/Runner.xcworkspace/

# Android関連
android/.gradle/
android/app/build/
